<h3>Create a Meetup</h3>

<form action='/meetups/create/' method="POST">
  <div class="form-element">
    <label for="name">Name:*</label>
    <input type="text" id="name" name="name">
  </div>
  <div class="form-element">
    <label for="location">Location:*</label>
    <input type="text" id="location" name="location">
  </div class="form-element">
  <div class="form-element">
    <label for="description">Description:*</label>
    <textarea id="description" name="description" rows="4" cols="20"></textarea>
  </div>
  <div class="form-element">
    <label></label>
    <button type="submit" value="submit">Submit</button>
  </div>
</form>
